@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Poppins:ital,wght@0,200;0,400;1,300&family=Raleway&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header img{
    width: 150px;
    height: 150px;
    margin-left:100vh;
    margin-top: 0px;
}
.row1{
    display: flex;
    flex-direction: row;
}
.row1 h3{
    font-size: 3rem;
    font-weight: 400;
    letter-spacing:1.2px; 
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    text-decoration:underline; 
    text-decoration-color: #dc3545;;
}  

.row1_section1 {
    width: 35vh;
    margin-left: 300px;
}

.row1_section2 {
    width: 10vh;
    margin-left: 90vh;
}

.container{
    width: 52vh;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 300px;
    justify-content: space-between;
}

.container-1 img{
    border-radius: 5%;
}

.container-2 img{
    border-radius: 5%;
}

.banner{
    margin-top: 50px;
}


.row2 h3{
    font-size: 3rem;
    font-weight: 400;
    letter-spacing:1.2px; 
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    text-decoration:underline; 
    text-decoration-color: #dc3545;;
    margin-left: 300px;
    margin-top: 50px;
}

.row2 h5{
    margin-top: 20px;
    font-size: 1.8rem;
    font-weight: 400;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    margin-left: 300px;
}

hr{
    margin-top: 70px;
    margin-left: 700px;
}

.main-video{
    margin-top: 60px;
}
.row3{
    width: 180vh;
}
.row3 h3{
    font-size: 3rem;
    font-weight: 400;
    letter-spacing:1.2px; 
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    text-decoration:underline; 
    text-decoration-color: #dc3545;;
    margin-left: 300px;
    margin-top: 30px;
}

.row3 h5{
    margin-top: 150px;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    margin-left: 300px;
}

.microservices{
    width: 55vh;
    display: flex;
    flex-direction: row;
    margin-top: 150px;
    margin-left: 300px;
    justify-content: space-between;
}

.persona-title {
    margin-top: 80px;
    margin-left: 300px;
    font-weight: 800;
    font-family: montserrat;
}

.heading-2 {
    font-size: 70px;
    color: black;
    line-height: 1.1;
    text-align: left;
}

.b-crimson{
    color: crimson;
}

.row4 h5{
    
    margin-top: 150px;
    
   
    margin-left: 300px;
}

.row5{
   
    width: 65vh;
    display: flex;
    flex-direction: row;
    margin-left: 300px;
}

.row5-content h5{
    margin-top: 100px;
    font-weight: 400;
    font-size: 1.6rem;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.row6{
    margin-top: 60px;
}
/* .row7{
    display: flex;
    flex-wrap: wrap;
} */
.row7 h3{
    font-size: 3rem;
    font-weight: 400;
    letter-spacing:1.2px; 
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    text-decoration:underline; 
    text-decoration-color: #dc3545;;
    margin-left: 300px;
    margin-top: 30px;
}

.row7 h5{
    margin-left: 300px;
    margin-top: 50px;
    font-weight: 400;
    font-size: 1.6rem;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.row8{
    margin-left: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    height: 1500px;
}

.workwithus h3{
    font-size: 3rem;
    font-weight: 400;
    letter-spacing:1.2px; 
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    text-decoration:underline; 
    text-decoration-color: #dc3545;
    margin-left: 300px;
    margin-top: 30px;
}

.row9{
   
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 300px;
}

.row9-content h5{
    width: 50vh;
    margin-top: 100px;
    font-weight: 400;
    font-size: 1.6rem;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.row9 img{
    margin-left: 200px;
    width: 750px;
    height: 550px;
}

footer{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    width: 1950px;
    height: 500px;
    background-color: #000000;
}

footer h4{
    margin-top: 20px;
    margin-left: 50px;
    color: #fff;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 700;
    font-size: 25px;
}
footer img{
    margin-left: 50px;
    margin-top: 50px;
}

footer h5{
    margin-top: 10px;
    margin-left: 50px;
    color: #fff;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 400;
    font-size: 17px;
}

.social{
    margin-top: 0;
}

.part-2{
    margin-top: 150px;
    margin-right: 300px;
    width: 45vh;
    display: flex;
    flex-direction: row;
}